# Data Science Tools and Ecosystem

### We will sum up the Tools and Ecosystem for Data Science in this notebook.

__Objectives:__

- Popular Language of Data Science
- Commonly used Libraries
- Data Sceince Tools
- Arithmetic Expression Examples

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

#### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Panda
3. PyTorch
4. TensorFlow

| Data Science Tools |
|------------- |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author

Vartika Sharma